@model IEnumerable<FinalProgramacion.App_Start.Models.Licencias>


<h1>Lista</h1>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentarios)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.desde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comentarios)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.empleado }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.empleado }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.empleado })
            </td>
        </tr>
    }

</table>
