@model FinalProgramacion.Models.Empleados



<h1>Detalles </h1>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sueldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sueldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_activo_inactivo_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_activo_inactivo_)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Ir a la lista", "Index")
</p>
