@model FinalProgramacion.App_Start.Models.Vacaciones


<h2>Detalles</h2>

<div>
    <h4>Vacaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correspondiente_año_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correspondiente_año_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.empleado }) |
    @Html.ActionLink("Ir a la lista", "Index")
</p>
