@model IEnumerable<FinalProgramacion.Models.Permisos>

@{
    ViewBag.Title = "Index";
}

<h1>Lista</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <form method="post">
        <input type="search" name="busqueda" /><button type="submit">Buscar</button>
    </form>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.empleado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.desde)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hasta)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.comentarios)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.empleado }) |
        @Html.ActionLink("Details", "Details", new { id = item.empleado }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.empleado })
    </td>
</tr>
}

</table>
