@model FinalProgramacion.App_Start.Models.Salida

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Salida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_Salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_Salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_salida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empleado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
