@model IEnumerable<FinalProgramacion.App_Start.Models.Salida>

<h1>Lista</h1>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo_Salida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_salida)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_Salida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_salida)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.empleado }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.empleado }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.empleado })
            </td>
        </tr>
    }

</table>
