@model FinalProgramacion.App_Start.Models.Nomina

    <h1>Detalles</h1>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Ir a la lista", "Index")
</p>
